@import "whitespace-reset.css";

body {
  background-color: grey;
  font: normal 14px "Lucianda", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;
}

h2 {
  font-size: 1.5em;
}

.lightText {
  color: #a8a8a8;
}

#listName {
  text-decoration: underline;
}

body > header {
  width: 100%;
  padding: 10px 5px;
  position: fixed;
  top: 0;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}

body > header a {
  position: absolute;
  left: 50%;
  top: 30%;
}

body > header input {
  padding: 5px 0;
  background: grey;
}

main {
  padding-top: 50px;
  padding-left: 5px;
}

#searchResults {
  position: fixed;
  z-index: 3;
  left: 6px;
  top: 51px;
  box-sizing: border-box;
  border: 1px solid black;
  background: #6690a4;
  width: 270px;
  padding: 10px 5px;
  display: none;
  min-height: 100px;
}

#content {
  white-space: nowrap;
  position: absolute;
  top: 40px;
}

#content > header {
  margin: 20px 0 50px 0;
}

#content > header > h1 {
  position: fixed;
}

#listsDisplay > li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.deleteItem {
  float: right;
  cursor: pointer;
}

article header .deleteList:hover,
article header:hover {
  cursor: pointer;
}

article.list {
  background-color: #d3d3d3;
  border: 1px solid black;
  vertical-align: top;
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  width: 270px;
}

#listsDisplay .addList {
  margin-right: 100px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

#listsDisplay .addList:hover {
  cursor: pointer;
}

.list header {
  padding: 5px 5px;
}

.list ul {
  white-space:normal;
  min-height: 5px;
  padding: 0 5px;
}

.list li,
#searchResults li {
  background-color: white;
  position: relative;
  padding: 5px 5px;
  margin: 10px 0;
}

.list li:hover,
#searchResults li:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.list li:hover .editImage {
  display: block;
}

.list footer a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.list footer a {
  display: block;
  padding: 10px 5px;
  box-sizing: border-box;
}

.list textarea {
  width: 100%;
  box-sizing: border-box;
}


.list form a {
  display: inline-block;
  width: auto;
}

.list p {
  padding: 5px 0;
}

img.cardIcon {
  width: 20px;
  vertical-align: middle;
}

.editImage {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  content: url(/images/edit.png);
  width: 20px;
  padding: 2px;
}

.editImage:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.addList {
  display: inline-block;

}

#modalLayer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
}

#singleCard {
  width: 750px;
  position: fixed;
  background-color: #d3d3d3;
  left: 50%;
  margin-left: -375px;
  padding: 10px 10px 10px 50px;
  box-sizing:border-box;
  z-index: 10;
}

#singleCard section {
  margin-bottom: 20px;
}

#singleCard h2 {
  padding: 5px 0 10px 0;
  display: inline-block;
  width: 90%;
}

#singleCard p {
  padding: 5px 0;
  white-space: pre-wrap;
}

#singleCard a {
  text-decoration: underline;
  display: inline;
}

#singleCard a:hover {
  color: black;
}

.cardIcon:before {
  content:"";
  width: 30px;
  height: 30px;
  background-size: 30px;
  display: inline-block;
  background-image: url(/images/list.png);
  margin-left: -40px;
  float: left;
}

#listIcon:before {
  background-image: url(/images/list.png);
}

#personIcon:before {
  background-image: url(/images/person.png);
}

#chatIcon:before {
  background-image: url(/images/chat.png);
}

#singleCard textarea,
.list textarea {
  display: block;
  resize: none;
}

.list form {
  display: none;
  position: relative;
  padding: 5px;
}

.list form.editCardTitle {
  z-index: 7;
}

#singleCard input,
.list input {
  padding: 5px 15px;
  margin-top: 10px;
}

.list .editCardTitle input[type="text"] {
  margin-top: 0;
  padding: 5px;
}

.list button {
  position: relative;
  padding: 5px 15px;
  margin-top: 10px;
  z-index: 7;
  background-color: #0198E1;
  border-color: #0198E1;
}

.placeholderHighlight {
  border: 2px solid black;
}

#singleCard form.editCardForm,
#singleCard textarea[name="cardTitle"] {
  display: none;
}

#boardView {
  margin-top: 20px;
}

#boardView > a {
  padding: 20px 30px;
  background: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

#boardView > a:hover {
  background: #6690a4;
}